*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: blue;
}
/* a:hover{
    background-color: red;
} */
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    max-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    background: brown;
    display: inline-block;
    color: aqua;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.header{
    background: antiquewhite;

}
.header .row{
    margin: 70px 0;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 immg{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}
.title::after{
    content: '';
    background: orangered;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0 ;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: orangered;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: brown;
}
.col-4{
    transform: translateY(-5px);
}
.offer{
    background: antiquewhite;
    margin-top: 80px;
    padding: 30px 0;

}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color:darkolivegreen;
}
.testimonial{
    padding: 100px;
}
/*testimonial*/
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: aqua;
}
.col-3 p{
    font-size: 12px;
    margin: 12px o;
    color:chocolate;
}
.testimonial .col-3 h3{
    font-weight: 600;
    margin: 12px 0;
    color: lightslategrey;
}
.box .col-3 {
    border: 1px solid red;
    background: antiquewhite;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
}


/*-----------------------footer--------*/
.footer{
    background:black;
    color:white;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color:white;
}
.footer h3{
    color: brown;
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer h6{
    text-align: center;
    font-size: 10px;
}
.menu-icon{
    width: 28px;
    margin-left:20px ;
    display: none;
}
/*-----------------media query for men-------*/
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition:max-height 0.5s ;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*--------------All products---------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid orange;
    padding:5px ;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid red;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: red;
    color: white;
}
/*-----------------media query for less than 600px-------*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3.col-4{
        flex-basis: 100%;
    }
 .room-product .row{
    text-align: left;
 } 
 .room-product .col-2{
    padding: 20px 0;
 } 
 .room-product h1{
    font-size: 26px;
    line-height: 22px;
 } 
}

/*----------------------------cart items---------*/
.cart-page{
    margin: 80px auto;

}
table{
    width:100% ;
    border-collapse:collapse:
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: orangered;
    font-weight: normal;
}
td{
    padding:10px 5px ;
}
td input{
    width: 40px;
    height: 30px;
    paint-order: 5px;
}
td a{
    color: orangered;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display:flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid brown;
    width: 100%;
    max-width:420px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.cart-info p{
    display: none;
}
/*------payments------ */

/*------------room details------------*/
.room-product{
    margin-top: 80px;
}
.room-product .col-2 img{
    padding:0;
}
.room-product .col-2{
    padding: 20px;
}
.room-product h4{
    margin: 20px;
    font-size: 22px;
    font-weight: bold;

}
.room-product input{
    width: 80px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border:1 px solid red;
 }
 input:focus{
    outline: none;
 }
 .room-img-row{
    display: flex;
    justify-content: space-between;
 }
 .room-img-col{
    flex-basis: 24%;
    cursor: pointer;
 }